

#side1 {
  /* back card */
  background-image: url("19693555555544544444444444444444.jpg");
}

#sidee1 {
  /* mini card*/
  background-image: url("spiderman_into_the_spiderverse33tt44445t4_ver2.jpg");
}

#side2 {
  /* back card */
  background-image: url("wp12301543-dune-part-two-wallpapers.jpg");
}

#sidee2 {
  /* mini card*/

  background-image: url("official-poster-for-dune-part-two-v0-xa07g0z9veec1.webp");

}

#side3 {
  /* back card */
  background-image: url("wp12691942-godzilla-minus-one-wallpapers.jpg");
}

#sidee3 {
  /* mini card*/
  background-image: url("download5454544524488888665554.jpeg");
}

#side4 {
  /* back card */
  background-image: url("downsssvvvss,,,,3ee,4334,,t35,load.jpeg");
}

#sidee4 {
  /* mini card*/
  background-image: url("MV5BZDI4OTM1ZjMtOWQxMC00OTY5LTg3NjQtMjlhMWVjODFlYTY4XkEyXkFqcGdeQXVyMTYzMTU3Njgx._V1_.jpg");
}

#side5 {
  /* back card */
  background-image: url("sY6ZHGczxqenDFKzjNcvBY.jpeg");
}

#sidee5 {
  /* mini card*/
  background-image: url("wp13291741-poor-things-movie-wallpapers.jpg");
}

#side6 {
  /* back card */
  background-image: url("wp12552482-oppenheimer-movie-wallpapers.jpg");
}

#sidee6 {
  /* mini card*/
  background-image: url("downloadssfgssddf3344445tt455.jpeg");
}

#side7 {
  /* back card */
  background-image: url("wp11284521-top-gun-maverick-desktop-wallpapers.jpg");
}

#sidee7 {
  /* mini card*/
  background-image: url("71BokibfVUL._AC_UF894,1000_QL80_.jpg");
}

#side8 {
  /* back card */
  background-image: url("vvvnnbsjbnjsnbqrrvvmwwmfqwmm443m554566.jpg");
}

#sidee8 {
  /* mini card*/
  background-image: url("MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_FMjpg_UX1000_.jpg");
}

#side9 {
  /* back card */
  background-image: url("vvssvvssvnndfnnng345n44n.jpg");
}

#sidee9 {
  /* mini card*/
  background-image: url("MV5BNzFkM2FhMzQtYjUwZi00N2Y3LWFkZWItMmZmMjQxNGQwZmNhXkEyXkFqcGdeQXVyODEyNjEwMDk@._V1_.jpg");
}

#side10 {
  /* back card */
  background-image: url("vvsmfdklbbbdddbbss,vveeev,ee445545.jpg");
}

#sidee10 {
  /* mini card*/
  background-image: url("71iZLrkVhDL._AC_UF894,1000_QL80_.jpg");
}
 


.gift1 .vvg2{
  background-image: url("wp13110627-my-fault-movie-wallpapers.jpg");
}

#seriss-1 .cardd5-1:nth-child(1) {

  background-image: url("mov_144666_151444.webp");

}

#seriss-1 .cardd5-1:nth-child(2) {
  background-image: url("mov_145946_154604.webp");
}

#seriss-1 .cardd5-1:nth-child(3) {
  background-image: url("mov_145947_154605.webp");
}

#seriss-1 .cardd5-1:nth-child(4) {
  background-image: url("mov_146053_154923.webp");
}

#seriss-1 .cardd5-1:nth-child(5) {
  background-image: url("mov_146055_154907.webp");
}

#seriss-1 .cardd5-1:nth-child(6) {
  background-image: url("mov_146056_154915.webp");
}

#seriss-1 .cardd5-1:nth-child(7) {
  background-image: url("mov_146134_155305.webp");
}

#seriss-1 .cardd5-1:nth-child(8) {
  background-image: url("mov_146149_155312.webp");
}

#seriss-1 .cardd5-1:nth-child(9) {
  background-image: url("mov_146173_155389.webp");
}

#seriss-1 .cardd5-1:nth-child(10) {
  background-image: url("mov_146180_155401 (1).webp");
}
.gift2 .vvg2{
  background-image: url("the-beekeeper-movie-2024-ne.jpg");
}

#seriss-2 .cardd5-1:nth-child(1) {

   background-image: url("9367ea63f0651197e1979b695e0db274152f1d84e170a6073bd36843d80d7ec1._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-2 .cardd5-1:nth-child(2) {
   background-image: url("1537002659b95615776a3ee885502e7f299b0ae63ba525d671cbce720e4234e9._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(3) {
   background-image: url("b4714fbb674f8175ed2fe92ed91d6bcf33f10685592e2475e471579bfc7210ff._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(4) {
   background-image: url("d14c37949a99ca8037cd50cd0e8e419b4977c56200c599fec0fd4d8ba358df62._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(5) {
   background-image: url("d5152316503b03299ae38ce6fa7413a418994d977b30212496de2cd8a8485428._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(6) {
   background-image: url("df0caa34268cb0d10e30b66569a73a59e77007b62e603db3d1ccf8ef85f94dab._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(7) {
   background-image: url("e527225f0bd17b6e5277d5ba7131def82f03f96264272aa0a9fda3a940f5833c._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(8) {
   background-image: url("f5c7f6da90abf5bbd5687c4cdae507d335c16353fc2359f993b9c6eb46d0a269._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(9) {
   background-image: url("mov_144254_76869.webp");
 }
 
 #seriss-2 .cardd5-1:nth-child(10) {
   background-image: url("mov_145832_154142.webp");
 }
 .gift3 .vvg2{
  background-image: url("wp3147603-sabotage-wallpapers.jpg");
  
}

 #seriss-3 .cardd5-1:nth-child(1) {

   background-image: url("1cfdd17a75a5afd04668edf20b627cc3061fb9c88f5ae0dbf21feb29721b871f._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-3 .cardd5-1:nth-child(2) {
   background-image: url("01f8285c2b627b10e2a8927fe8a2476fea367d3c52ed7cea072107221dc1eb78._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(3) {
   background-image: url("4fc4524100c5c0fa59d9a20718d6b7629da651e430403ec191347cb80ed440da._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(4) {
   background-image: url("05a961ff7c416cd2853af500503ad25fb5dffb180f363dcf7ebce52314200ba9._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(5) {
   background-image: url("88b988fca5030ed862c879a0a40c00bc123c7a8725cf5a236dfe9267c5dc35a9._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(6) {
   background-image: url("986e16915cf68587127bd77e8a2a6aa96d90df03e786974a95667e788c7647bc._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(7) {
   background-image: url("7800a2224f53bfc62f28c306a42a508f27e531bc02426253e8552e147383e81f._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(8) {
   background-image: url("ad0d577806e4d54b4fcc652c0b93b5a955e3fdd2a50e7a883840f21733e1985f._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(9) {
   background-image: url("cc417aabd67d431ba6d6dc5571f540a1a65acdf833458242925d8193ba4e6b2b._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-3 .cardd5-1:nth-child(10) {
   background-image: url("d5152316503b03299ae38ce6fa7413a418994d977b30212496de2cd8a8485428._UR1920,1080_SX480_FMwebp_ (1).webp");
 }
 
 .gift4 .vvg2{
  background-image: url("Posters-of-Devil.avif");
  
}
 #seriss-4 .cardd5-1:nth-child(1) {

   background-image: url("downloadewewewrwr.jpeg");
 
 }
 
 #seriss-4 .cardd5-1:nth-child(2) {
   background-image: url("MV5BZWM5MTQ3NDMtNGFiMS00Y2E5LWE2ZTUtNzM5MTcyZjM3ODRiXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_QL75_UX380_CR0,0,380,562_.jpg");
 }
 
 #seriss-4 .cardd5-1:nth-child(3) {
   background-image: url("imagest3454h5u65.jpeg");
 }
 
 #seriss-4 .cardd5-1:nth-child(4) {
   background-image: url("MV5BMTY2MDkxNzYwNl5BMl5BanBnXkFtZTgwOTM2MjE5MDE@._V1_.jpg");
 }
 
 #seriss-4 .cardd5-1:nth-child(5) {
   background-image: url("61aIZgksRoS._AC_UF894,1000_QL80_.jpg");
 }
 
 #seriss-4 .cardd5-1:nth-child(6) {
   background-image: url("MV5BMTkxNzI3ODI4Nl5BMl5BanBnXkFtZTgwMjkwMjY4MjE@._V1_.jpg");
 }
 
 #seriss-4 .cardd5-1:nth-child(7) {
   background-image: url("61aIZgksRoS._AC_UF894,1000_QL80_.jpg");
 }
 
 #seriss-4 .cardd5-1:nth-child(8) {
   background-image: url("imagesr3t353.jpeg");
 }
 
 #seriss-4 .cardd5-1:nth-child(9) {
   background-image: url("imagesg45h4h66.jpeg");
 }
 
 #seriss-4 .cardd5-1:nth-child(10) {
   background-image: url("MV5BZWM3YjdhZjQtNWEwMS00YjVhLWFmMDUtMzU0ZTI0OTdkNWExXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg");
 }
 .gift5 .vvg2{
  background-image: url("wp9122198-wrath-of-man-wallpapers.jpg");
 }

 #seriss-5 .cardd5-1:nth-child(1) {

   background-image: url("d5152316503b03299ae38ce6fa7413a418994d977b30212496de2cd8a8485428._UR1920,1080_SX480_FMwebp_ (1).webp");
 
 }
 
 #seriss-5 .cardd5-1:nth-child(2) {
   background-image: url("05fd7f08b187fdbc970e54ae191bf28948bd90999866b797272e5c0c816a4ee5._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(3) {
   background-image: url("07b5d02104011089a16f951af6cd767c8bd27f5470eae9fcac1ff0be842f2d77._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(4) {
   background-image: url("67e870ccd8e37265e88bdec2f3f773d73863f9323f07f2a5d9e08d9a53e0d048._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(5) {
   background-image: url("381c14223294d903ef4c8e78dac1b17a2989fee001cf9dc2595606a78c22a96b._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(6) {
   background-image: url("1109e8e630d596b85089ad8384970580e64e222141c47dc2051fe6eef17d0b9d._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(7) {
   background-image: url("140085e603c51b39ee8595f712c165213dde2d6bead6385b264beb006034f2c0._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(8) {
   background-image: url("d192766d1e83bf478887dffe0d48cf9fa80f21eca11099ec42508800dbe011bf._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(9) {
   background-image: url("dfa539717409b2ec7800839cf0a0265a9376378eff070f3f60e765c9ea8f2c64._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-5 .cardd5-1:nth-child(10) {
   background-image: url("d192766d1e83bf478887dffe0d48cf9fa80f21eca11099ec42508800dbe011bf._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 .gift6 .vvg2{
  background-image: url("2wEPrt1MTsqJD9crIlV4LoaXTa9.webp");
   
}
 #seriss-6 .cardd5-1:nth-child(1) {

   background-image: url("0a3f23f2d166a58f5e261710c1c470dcfbfa5757b79159dcfa89d4422af87b0a._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-6 .cardd5-1:nth-child(2) {
   background-image: url("3d20771a0599aa6bb161f311b5515987c288f67cfe8f4c952bc5326bd8f99e0e._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(3) {
   background-image: url("8a6729d5f58ff0f20fe151fafa9de0cc73475fd5b70a4d9927a9b3867c29e489._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(4) {
   background-image: url("8ab402efc8be9c41161cf05ad5a8fe94e595b7bdd4038a47ae65d7169cdc4e97._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(5) {
   background-image: url("9afd3ce467a11a9caeb889940a74abe88088d3dfadf910efae39f5615dc9f794._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(6) {
   background-image: url("20cd326ef7ad6ac47925a0ca4108895473b4eaa336c127acc8defb3521f35c65._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(7) {
   background-image: url("22b611b71e6a7d47496e6c66af651b6d80ed4ce8bddd2b3bf66f3e50414c167e._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(8) {
   background-image: url("22b611b71e6a7d47496e6c66af651b6d80ed4ce8bddd2b3bf66f3e50414c167e._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(9) {
   background-image: url("25edc5f16e31a2656323f373248a998799a1ae6083e44759cc365ae6a9006423._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-6 .cardd5-1:nth-child(10) {
   background-image: url("864755c2aa7cf0baeacdf773cca8acdbe7fbd0d1a61ded73a0d1b5cd49aa1317._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 .gift7 .vvg2{
  background-image: url("godzilla-vs-kong-2021-movies-5k-3840x2160-4949.jpg");
 }
 #seriss-7 .cardd5-1:nth-child(1) {

   background-image: url("4fd3a7de23eb5f977930f2906f225a7d251772f614ace5986fb5dba8d4a725af._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-7 .cardd5-1:nth-child(2) {
   background-image: url("5cedcc467bfa7619728b16b33eb91c171043d1f01b7d0879229ac194c78a9135._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(3) {
   background-image: url("5ebb56231e1e7f8f046d319ecd7a2574cb4ce27be31a10703b8e97edd6a104e2._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(4) {
   background-image: url("7c73223b6e54d6ac0d2f60364ba75fd5045f3e68b796925749335ac8fec09d14._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(5) {
   background-image: url("7e15d4e8f40ac8ec032a8c53d16d9b3d4820fe9916c4374f0a813ad75deab03f._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(6) {
   background-image: url("854c38255941a5bf8cb30d3c41545382338a2c78d59ad29bbdc5f62982728c99._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(7) {
   background-image: url("e4ce6019d9019630b08c714cd8817ac8d49eefe9db53360989a7c486b9e4b263._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(8) {
   background-image: url("ed4e55d9a6d39e65b948c63375affe9f70007d07fe2cdae4d65b77e68cd31c07._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(9) {
   background-image: url("f32e37bbd1ceea24020fe23a63ca4188eb9919bd1351de1eb3c4597e3bd92a05._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-7 .cardd5-1:nth-child(10) {
   background-image: url("f91518405de8cefd59e027cb780e451cfd37ced5526e36365bfee819df78792f._UR1920,1080_SX480_FMwebp_.webp");
 }
 .gift8 .vvg2{
  background-image: url("wp3912139-mortal-engines-wallpapers.jpg");
  
}

 #seriss-8 .cardd5-1:nth-child(1) {

   background-image: url("2efbe18f07224b353b33aeae8bef814bc64313bbea4dfc682fbdcf2851344bea._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-8 .cardd5-1:nth-child(2) {
   background-image: url("8e439af098a2ca14492228e5a2684e34cc902d27e1d684ccec78a126b7e0c355._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(3) {
   background-image: url("036d8147d72917213f71f866bc55d2ad5685531db54ac436220ea80e0e176b90._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(4) {
   background-image: url("082106d883fc7f7dda93d0ce865d82bea2338e77fab3a0c7986212b586fbaa30._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(5) {
   background-image: url("2703313c37a993af7a5971f68f79cd665e04643b3560c92736eeaab2bb235eb2._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(6) {
   background-image: url("a3ee181f99ff83fe25cccbde9cab839ff04387d0e948cad43220f4d595fc2235._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(7) {
   background-image: url("a6122f26b39b525a26f22f964662405ab0c8c486b5bd05aebf441891d994b873._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(8) {
   background-image: url("ae39e71fe496d013380015fdeeebf1a0f0173962922900632ff15f6263bb28cd._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(9) {
   background-image: url("b7cbfcc1abfdccabb61331aa024889c10cbb90fe0efabc5f3f4191ed335802ff._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-8 .cardd5-1:nth-child(10) {
   background-image: url("e6dbcee00af3feae30e78c157986217e0167ef7e21182817db39c8dcff753099._UR1920,1080_SX480_FMwebp_.webp");
 }
 .gift9 .vvg2{
  background-image: url("wp1916220-the-martian-wallpapers.jpg");
  
}

 #seriss-9 .cardd5-1:nth-child(1) {

   background-image: url("0b3945e0fd0745b6342adcb49c5b8db81757431d44e8b48c461773d3e3fc24e6._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-9 .cardd5-1:nth-child(2) {
   background-image: url("03c49d8537e2f4c76ef3241b3cb1df70d2817e12c5a6e68c3dbaabde35b029d6._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(3) {
   background-image: url("6d0dfcae3d7edff2d74002a18d341b95a6358cc6f30d2e622016c919c6714bdf._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(4) {
   background-image: url("8f4ab3f6045b80207eb684ad2a167611021b17c92ba48c3bf57f3e64627feba2._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(5) {
   background-image: url("65d17347942cd70a6de949010d251cd48a6d5e8c84d841ffa5acefdea29b0ca2._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(6) {
   background-image: url("96e3152605c81efef9f2b0582e82bef70a4abbaccff11e735bd46b78c72da37b._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(7) {
   background-image: url("327ae4c7b00df5f084f98d70389f3c9faac91f8c6857c300a697df435474ac35._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(8) {
   background-image: url("189420c3dbf235953dbb719a513f845fe8422135b1008eadc67b8356ee4d2751._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(9) {
   background-image: url("a8760dc2682c1f017071a2da3162cb4d7c85fda95f2015d9ab91119fe36040a9._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-9 .cardd5-1:nth-child(10) {
   background-image: url("b6f33e5225b2ff6cc6722b35f8ac7dde269278e44b2fad60bab589b3c8ff3239._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 .gift10 .vvg2{
  background-image: url("wp13485772-kung-fu-panda-4-movie-wallpapers.jpg");
  
}
 #seriss-10 .cardd5-1:nth-child(1) {

   background-image: url("0e4533ec8578d2b6041f0921371c5179a7a5a4ce2f9d7c38b73c10a17e3f2118._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-10 .cardd5-1:nth-child(2) {
   background-image: url("1f5a02bdb84ce58fa81c7b9a23539ec10bdac8848844896d44ef4329a77ec1ac._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(3) {
   background-image: url("5ee05e36e2913ad6771dd54407f35943039add21431c645ccaaf59e95194db68._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(4) {
   background-image: url("9a098d4c7b718f20e6387a2703d55b792516ad0a92be7d2d72c74b99136e8f34._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(5) {
   background-image: url("059c9bafd20fcfe8de4980f961ee001095a0645c1b2f57ef5f5c5f519f6dd8d9._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(6) {
   background-image: url("70afc9b54ae22cfdb183f8b9d97711d3cbcd389e7850aba1d900fc6e6fae9045._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(7) {
   background-image: url("450a9a8f46d8c5f7d894a68f0afa4aa1e6e170b9741155ee3388734ec262c374._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(8) {
   background-image: url("951c61f901db7d49bade82d1078f9874e2265212b846ac8105fd6101c5783189._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(9) {
   background-image: url("d4a8376dc9ad9008af223ed013945c0005804225d125333308585e11b0090f5b._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-10 .cardd5-1:nth-child(10) {
   background-image: url("d58c0b91842f5b65aa65c7df1e28e4bd6acfc0a725d98e9fb0227cf0650b3bc1._UR1920,1080_SX480_FMwebp_.webp");
 }
 .gift11 .vvg2{
  background-image: url("wp8391345-fukrey-returns-wallpapers.jpg");
  
}

 #seriss-11 .cardd5-1:nth-child(1) {

   background-image: url("7d180157b50c4264ad1fa33deba3b1898f09ffa22ca26621b2f70b66f77aba68._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-11 .cardd5-1:nth-child(2) {
   background-image: url("8d8d752597d7e88e81ddacdf31dd773bbafcfecfc229b5d48518d80a8b117735._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(3) {
   background-image: url("9eb1317a97f2bee6717b38b81d12903dd9bd1220e7b07e06f862d8e498df3fa3._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(4) {
   background-image: url("27b328ac6137203696cababd98bb1fd22fd112dd5c26cfd2f31e67a87aa91a7e._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(5) {
   background-image: url("b3d8648ea85075d8179e1fb7ca06535310b677d5aa53c9aff5bfec758cd5afa8._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(6) {
   background-image: url("bd0b31e34dcabfa4ded1ab6bf7626dd9275c9a14c5ea83a6e2ca263cc77c2535._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(7) {
   background-image: url("de4394d94852309577b654b86eec8f2df8456d4193b4ad47a7db71ec900b48a0._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(8) {
   background-image: url("e4e7acd89fcf4e6f0971900aa6a9eb055428446c3c80b430c7dcb0acaf1e295b._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(9) {
   background-image: url("f6234d062bb1810e603dca4e6156d11d495cca05a3c0c0b997a08d7d1163e071._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 #seriss-11 .cardd5-1:nth-child(10) {
   background-image: url("fbd71247bf5491f6e459222fcfcbed80bfc36486166c01a1ab20fa5c9ba9ad44._UR1920,1080_SX480_FMwebp_.webp");
 }
 
 .gift12 .vvg2{
  background-image: url("wp7543788-the-boys-amazon-wallpapers.jpg");
  
}

 #seriss-12 .cardd5-1:nth-child(1) {

   background-image: url("2b1caaf93c6788ae4a74326749c230bb480c477c6e51cb2c40df7722fe5bb85f._UR1920,1080_SX480_FMwebp_.webp");
 
 }
 
 #seriss-12 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-12 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-12 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-12 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-12 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-12 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-12 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-12 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-12 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
  
 .gift13 .vvg2{
  background-image: url("wp6337529-alex-rider-wallpapers.jpg");
  
}

 #seriss-13 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-13 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-13 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-13 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-13 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-13 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-13 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-13 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-13 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-13 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-14 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-14 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-14 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-14 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-14 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-14 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-14 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-14 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-14 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-14 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-15 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-15 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-15 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-15 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-15 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-15 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-15 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-15 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-15 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-15 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-16 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-16 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-16 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-16 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-16 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-16 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-16 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-16 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-16 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-16 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-17 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-17 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-17 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-17 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-17 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-17 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-17 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-17 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-17 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-17 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-18 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-18 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-18 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-18 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-18 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-18 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-18 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-18 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-18 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-18 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-19 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-19 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-19 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-19 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-19 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-19 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-19 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-19 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-19 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-19 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-20 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-20 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-20 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-20 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-20 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-20 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-20 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-20 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-20 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-20 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-21 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-21 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-21 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-21 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-21 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-21 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-21 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-21 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-21 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-21 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-22 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-22 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-22 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-22 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-22 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-22 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-22 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-22 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-22 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-22 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-23 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-23 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-23 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-23 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-23 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-23 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-23 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-23 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-23 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-23 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-24 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-24 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-24 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-24 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-24 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-24 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-24 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-24 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-24 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-24 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
 

 #seriss-25 .cardd5-1:nth-child(1) {

   background-image: url("abigail");
 
 }
 
 #seriss-25 .cardd5-1:nth-child(2) {
   background-image: url("");
 }
 
 #seriss-25 .cardd5-1:nth-child(3) {
   background-image: url("froisa");
 }
 
 #seriss-25 .cardd5-1:nth-child(4) {
   background-image: url("desipicableme4");
 }
 
 #seriss-25 .cardd5-1:nth-child(5) {
   background-image: url("");
 }
 
 #seriss-25 .cardd5-1:nth-child(6) {
   background-image: url("godzilxkong");
 }
 
 #seriss-25 .cardd5-1:nth-child(7) {
   background-image: url("frozenempair");
 }
 
 #seriss-25 .cardd5-1:nth-child(8) {
   background-image: url("falllout");
 }
 
 #seriss-25 .cardd5-1:nth-child(9) {
   background-image: url("tarot");
 }
 
 #seriss-25 .cardd5-1:nth-child(10) {
   background-image: url("");
 }
                        